<div class="login__page" [style.background-image]="'url(assets/images/login-bg.jpg)'">
    <div class="login__row min-h-screen">
        <div class="login__hero flex flex-col justify-center items-center py-10 px-4 sm:px-8 xl:px-20 text-white">
            <a [routerLink]="['']" class="w-48 inline-block"
                ><img src="assets/images/logo-lg.jpg" class="rounded" alt="HB Events"
            /></a>
            <!-- <h2 class="text-center mt-6">Welcome back!</h2> -->
        </div>

        <div class="login__content p-4 sm:p-8 flex flex-col justify-center bg-accent">
            <div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
                <h1 class="text-2xl font-bold uppercase text-blue-900 text-center">SCAN YOUR CODE</h1>
                <hr />
                <div *ngIf="qrcode">
                    <p class="text-center text-primary">Point this to the qr scan at the entry gate</p>
                    <p class="text-red-500 text-center">NB: Do NOT share this with anyone!</p>
                    <img src="{{ qrcode }}" alt="qr code ticket of me" height="400" width="400" />
                </div>
            </div>
        </div>
    </div>
</div>
