<div class="grid-container">
    <div class="row">
        <!-- TOTAL EVENTS -->
        <div class="col-md-4 col-sm-6 py-2">
            <mat-card title="All events" routerLink="/admin/events" class="dashboard-card voilet">
                <mat-card-header>
                    <mat-card-title> TOTAL EVENTS </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <!-- <mat-icon color="accent">male</mat-icon> -->
                    <p>{{ statistics?.eventsCount }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- UPCOMING EVENTS -->
        <div class="col-md-4 col-sm-6 py-2">
            <mat-card class="dashboard-card burlywood">
                <mat-card-header>
                    <mat-card-title> UPCOMING EVENTS </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <!-- <mat-icon color="primary">female</mat-icon> -->
                    <p>{{ statistics?.maleAccounts }}</p>
                </mat-card-content>
            </mat-card>
        </div>

        <!-- EVENTS DECLINED -->
        <div class="col-md-4 col-sm-6 py-2">
            <mat-card class="dashboard-card darkkhaki">
                <mat-card-header>
                    <mat-card-title> EVENTS DECLINED </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <p>{{ statistics?.femaleAccounts }}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
