<div [class.example-is-mobile]="isLessThanLargeDevice">
    <mat-sidenav-container class="kl-sidenav-container">
        <mat-sidenav
            #sidenav
            [opened]="isSidenavExpand && isLessThanLargeDevice"
            [mode]="'over'"
            [fixedInViewport]="isLessThanLargeDevice"
        >
            <hb-sidenav></hb-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <hb-header (toggleSidenav)="toggleSidenav()" topFixed="true"></hb-header>
            <main><router-outlet></router-outlet></main>
            <hb-feature></hb-feature>
            <hb-footer></hb-footer>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
