<section class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>EVENT STATS HERE</h2>

            <div class="row">
                <!-- EVENT CAPACITY -->
                <div class="col-md-4 col-sm-6 py-2">
                    <mat-card class="dashboard-card voilet">
                        <mat-card-header>
                            <mat-card-title> CAPACITY </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="card-content">
                            <p>{{ statistics?.capacity }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <!-- TOTAL COUNT -->
                <div class="col-md-4 col-sm-6 py-2">
                    <mat-card class="card burlywood">
                        <mat-card-header>
                            <mat-card-title> TOTAL COUNT </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="card-content">
                            <p>{{ statistics?.totalCount }}</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <!-- ANOTHER STATS -->
                <div class="col-md-4 col-sm-6 py-2">
                    <mat-card class="card darkkhaki">
                        <mat-card-header>
                            <mat-card-title> ANOTHER STATS </mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="card-content">
                            <!-- <p>{{ statistics?.anotherStats }}</p> -->
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Start Scan -->
            <!-- API Documentation here -->
            <!-- https://github.com/zxing-js/ngx-scanner/wiki/Component-API#api -->
            <!-- 
    - scanSuccess
    - scanFailure
    - scanError
    - scanComplete
    - camerasFound
    - camerasNotFound
 -->
            <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)"> </zxing-scanner>
            <button mat-raised-button color="primary" (click)="startScanner()" *ngIf="!scannerEnabled" type="button">
                Start Scanner
            </button>
            <button type="button" class="btn btn-danger text-uppercase" (click)="stopScanner()" *ngIf="scannerEnabled">
                Stop Scanner
            </button>

            <div>
                <p>{{ formValueJson }}</p>
            </div>

            <!-- End Scan -->
        </div>
    </div>
</section>
