<div class="login__page" [style.background-image]="'url(assets/images/login-bg.jpg)'">
    <div class="login__row min-h-screen">
        <div class="login__hero flex flex-col justify-center items-center py-10 px-4 sm:px-8 xl:px-20 text-white">
            <a [routerLink]="['']" class="w-48 inline-block"
                ><img src="assets/images/logo-lg.jpg" class="rounded" alt="HB Events"
            /></a>
            <!-- <h2 class="text-center mt-6">Welcome back!</h2> -->
            <div class="mb-6 mt-6">
                <h2>EVENT STATS</h2>
                <div class="row">
                    <!-- EVENT CAPACITY -->
                    <div class="col-md-4 col-sm-6 py-2">
                        <mat-card class="dashboard-card voilet">
                            <mat-card-header>
                                <mat-card-title> CAPACITY </mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="card-content">
                                <p>{{ statistics?.capacity }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <!-- TOTAL COUNT -->
                    <div class="col-md-4 col-sm-6 py-2">
                        <mat-card class="card burlywood">
                            <mat-card-header>
                                <mat-card-title> TOTAL COUNT </mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="card-content">
                                <p>{{ statistics?.totalCount }}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>

                    <!-- ANOTHER STATS -->
                    <div class="col-md-4 col-sm-6 py-2">
                        <mat-card class="card darkkhaki">
                            <mat-card-header>
                                <mat-card-title> ANOTHER STATS </mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="card-content">
                                <!-- <p>{{ statistics?.anotherStats }}</p> -->
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="login__content p-4 sm:p-8 flex flex-col justify-center bg-accent">
            <div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
                <h1 class="text-2xl font-bold text-blue-900 uppercase text-center">
                    AUTHENTICATE AND AUTHORISE TICKET
                </h1>
                <hr />
                <!-- <p class="font-bold text-center text-red-500 text-xs">
                      NB: Please, crosscheck to be sure of the details
                  </p> -->

                <div class="mb-6 mt-6">
                    <!-- Start Scan -->
                    <!-- API Documentation here -->
                    <!-- https://github.com/zxing-js/ngx-scanner/wiki/Component-API#api -->
                    <!-- 
    - scanSuccess
    - scanFailure
    - scanError
    - scanComplete
    - camerasFound
    - camerasNotFound
 -->
                    <zxing-scanner *ngIf="scannerEnabled" #scanner (scanSuccess)="scanSuccessHandler($event)">
                    </zxing-scanner>

                    <button
                        class="
                            w-full
                            bg-gray-800
                            hover:bg-grey-900
                            text-white text-sm
                            py-2
                            px-4
                            font-semibold
                            rounded
                            focus:outline-none
                            focus:shadow-outline
                            h-10
                        "
                        (click)="startScanner()"
                        *ngIf="!scannerEnabled"
                        type="button"
                    >
                        Start Scanner
                    </button>

                    <button
                        class="
                            w-full
                            bg-gray-800
                            hover:bg-grey-900
                            text-white text-sm
                            py-2
                            px-4
                            font-semibold
                            rounded
                            focus:outline-none
                            focus:shadow-outline
                            h-10
                        "
                        type="button"
                        (click)="stopScanner()"
                        *ngIf="scannerEnabled"
                    >
                        Stop Scanner
                    </button>

                    <div>
                        <p>{{ formValueJson }}</p>
                    </div>
                </div>

                <div class="mb-6 mt-6">
                    <form [formGroup]="ticketRedemptionForm" (ngSubmit)="redeem()">
                        <div class="mb-2 mt-2">
                            <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="redemptionCode">
                                REDEMPTION CODE
                            </label>
                            <input
                                class="
                                    text-sm
                                    appearance-none
                                    rounded
                                    w-full
                                    py-2
                                    px-3
                                    text-gray-700
                                    bg-gray-100
                                    leading-tight
                                    focus:outline-none
                                    focus:shadow-outline
                                    h-10
                                "
                                id="redemptionCode"
                                type="text"
                                formControlName="redemptionCode"
                                placeholder="enter your CODE here"
                                minlength="6"
                                maxlength="6"
                                pattern="[0-9]{6}"
                                required
                            />

                            <mat-error
                                *ngIf="redemptionCode?.invalid && (redemptionCode?.dirty || redemptionCode?.touched)"
                            >
                                <mat-error *ngIf="redemptionCode?.hasError('required')">
                                    redemptionCode is required.
                                </mat-error>
                                <mat-error *ngIf="redemptionCode?.touched && redemptionCode?.hasError('minlength')">
                                    redemption Code must be 6 characters long.
                                </mat-error>
                                <mat-error *ngIf="redemptionCode?.hasError('pattern')"> Numbers only </mat-error>
                            </mat-error>
                        </div>
                        <button
                            class="
                                w-full
                                bg-gray-800
                                hover:bg-grey-900
                                text-white text-sm
                                py-2
                                px-4
                                font-semibold
                                rounded
                                focus:outline-none
                                focus:shadow-outline
                                h-10
                            "
                            type="submit"
                            [disabled]="!ticketRedemptionForm.valid"
                        >
                            Redeem
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <!-- End Scan -->
        </div>
    </div>
</section>
