<div class="login__page" [style.background-image]="'url(assets/images/login-bg.jpg)'">
    <div class="login__row min-h-screen">
        <div class="login__hero flex flex-col justify-center items-center py-10 px-4 sm:px-8 xl:px-20 text-white">
            <a [routerLink]="['']" class="w-48 inline-block"
                ><img src="assets/images/logo-lg.jpg" class="rounded" alt="HB Events"
            /></a>
            <!-- <h2 class="text-center mt-6">Welcome back!</h2> -->
        </div>
        <div class="login__content p-4 sm:p-8 flex flex-col justify-center bg-accent">
            <div class="login w-full max-w-xl rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
                <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
                    <h1 class="text-2xl font-bold uppercase text-center">Confirm Booking</h1>
                    <p class="font-bold text-center text-red-500 text-xs">
                        NB: Please, crosscheck to be sure of the details
                    </p>
                    <div class="mb-4 mt-6">
                        <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="email"> Email </label>
                        <input
                            class="
                                text-sm
                                appearance-none
                                rounded
                                w-full
                                py-2
                                px-3
                                text-gray-700
                                bg-gray-100
                                leading-tight
                                focus:outline-none
                                focus:shadow-outline
                                h-10
                            "
                            id="email"
                            type="email"
                            placeholder="Your email address"
                            formControlName="email"
                        />
                        <mat-error *ngIf="email?.touched && email?.hasError('required')"> Provide email </mat-error>
                    </div>
                    <div class="mb-6 mt-6">
                        <label class="block text-gray-700 text-sm font-semibold mb-2" htmlFor="mobileNumber">
                            Mobile Number
                        </label>
                        <input
                            class="
                                text-sm
                                appearance-none
                                rounded
                                w-full
                                py-2
                                px-3
                                text-gray-700
                                bg-gray-100
                                leading-tight
                                focus:outline-none
                                focus:shadow-outline
                                h-10
                            "
                            id="mobileNumber"
                            type="text"
                            placeholder="Your mobile number"
                            formControlName="mobileNumber"
                        />
                        <mat-error *ngIf="mobileNumber?.touched && mobileNumber?.hasError('required')">
                            Please, provide your mobile number
                        </mat-error>
                        <mat-error *ngIf="mobileNumber?.touched && mobileNumber?.hasError('pattern')">
                            Kindly check the format of the mobile number
                        </mat-error>
                    </div>

                    <div class="flex w-full mt-6">
                        <button
                            class="
                                w-full
                                bg-gray-800
                                hover:bg-grey-900
                                text-white text-sm
                                py-2
                                px-4
                                font-semibold
                                rounded
                                focus:outline-none
                                focus:shadow-outline
                                h-10
                            "
                            type="submit"
                            [disabled]="!paymentForm.valid || submitting"
                        >
                            {{ (submitting ? 'Booking in progress...' : 'Submit') | uppercase }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container h-100 login-container">
  <div class="row h-100 justify-content-center align-items-center">
    <mat-card>
      <mat-card-header class="center-content">
        <mat-card-title class="text-center">PAYMENT OF TICKETS</mat-card-title>
        <mat-card-subtitle class="text-center"
          >Select your mode of payment and follow the prompt!</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <mat-radio-group
              formControlName="paymentType"
              aria-label="Select an option for payment type"
              (change)="onPaymentTypeChanged($event)"
            >
              <mat-label>Select payment mode</mat-label>
              <mat-radio-button id="mobileMoney" value="mobileMoney">
                <img 
                class="img img-fluid"
                src="assets/img/logos/all-networks-momo.png"
                />
              </mat-radio-button>

              <mat-form-field appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="mobileNumber"
                  placeholder="Eg. 0541234567"
                  required
                />
                <mat-icon matSuffix>call</mat-icon>
                <mat-hint> Example: 0541234567 </mat-hint>
                <mat-error
                  *ngIf="
                    mobileNumber?.touched && mobileNumber?.hasError('required')
                  "
                >
                  Please, provide your mobile number
                </mat-error>
              </mat-form-field>

              
              <mat-form-field appearance="outline">
                <mat-label>Email address</mat-label>
                <input
                  matInput
                  type="email"
                  formControlName="email"
                />
                
                <mat-error
                  *ngIf="
                    email?.touched && email?.hasError('required')
                  "
                >
                  Please, provide your email address
                </mat-error>
              </mat-form-field>
            
              <mat-radio-button id="mastercard" value="mastercard">
                <img 
               class="img img-fluid"
                src="assets/img/logos/master-card.png"
                />
              </mat-radio-button>
            </mat-radio-group>

         
          <button
            mat-raised-button
            aria-label="Sign up button"
            color="accent"
            type="submit"
            [disabled]="!paymentForm.valid || submitting "
            class="full-width"
          >
            {{ (submitting ? "Payment in progress ..." : "Pay") | uppercase }}
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->
